<app-nav></app-nav>
<ion-header>
    <ion-toolbar>
        <ion-menu-button slot="start" menu="first"></ion-menu-button>
        <ion-title> Solicitudes </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content fullscreen id="main">
    <div class="wrapper">

        <ion-list class="wrapper__list">

            <ion-list-header>
                Lo más pedido
            </ion-list-header>

            <ion-item lines="none" class="wrapper__list--item prueba" *ngFor="let item of lista" (click)="openCategory(item.nombre)">
                <ion-avatar slot="start">
                    <img [src]="item.imagen">
                </ion-avatar>
                <ion-label>
                    <h2>{{item.nombre}}</h2>
                    <h3>Frase de resalte del servicio</h3>
                    <p>Por que contratar este servicio por tutum</p>
                </ion-label>
            </ion-item>

        </ion-list>

        <ion-col>

            <button class="button btn btnAdelante" [routerLink]="['/categorias']">
                <span class="btnText">Ver todos</span>
                <span class="icoElipse">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </span>
            </button>

        </ion-col>

    </div>
</ion-content>