<ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
        <ion-toolbar class="ion-padding">
            <ion-thumbnail slot="start">
                <img src="../../../assets/img/user.svg" alt="">
            </ion-thumbnail>
            <ion-text class="ion-padding">Bienvenido:</ion-text><br>
            <ion-text class="ion-padding">Nombre Usuario</ion-text><br>
            <ion-text class="ion-padding"><b>TUTUM-Clientes</b></ion-text>
        </ion-toolbar>
    </ion-header>
    <ion-content>
        <ion-list>
            <ion-item>
                <ion-icon slot="start" name="document-attach-outline"></ion-icon>
                Historial Solicitudes
            </ion-item>

            <ion-item>
                <ion-icon slot="start" name="hammer-outline"></ion-icon>
                Contratos en Curso
            </ion-item>

            <ion-item>
                <ion-icon slot="start" name="person-add-outline"></ion-icon>
                Perfil
            </ion-item>

            <ion-item>
                <ion-icon slot="start" name="heart-outline"></ion-icon>
                Favoritos
            </ion-item>
            <ion-item>
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                Cerrar Sesión
            </ion-item>
        </ion-list>
    </ion-content>
</ion-menu>